<div class="section-details">
  <div class="section-title">Choose Dates</div>
  <ul class="daticon-list">
    {{!--#each selectedDates as |event index|--}}
    {{#each selectedDates as |day index|}}
      {{#if day.isActive}}
        <li>
          <div class="daticon">
            <div class="dow">
              {{moment-format day.date 'ddd'}}
            </div>
            <div class="day">
              {{moment-format day.date 'D'}}
            </div>
            <div class="month">
              {{moment-format day.date 'MM'}}
            </div>
            <span class="delete" {{action removeDate day day.index}}></span>
          </div>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>
<div class="section-main">
  <div class="form-row">
    <div class="form-group">
      {{#if showMessage}}
        <span class="error form-error" ng-show="form.$submitted && form.datepicker.$error.required">
            <img src="/images/error.png" width="14" /> You need to select a few dates
        </span>
      {{/if}}
      <div>
        <div class="date-picker">
          <div class="wrapper">
            <div class="date-picker-head">
              <a href="#" class="arrow" {{action prevMonth}}>&#10094;</a>
              <span class="title">
                <span class="title-text">{{title}}</span>
              </span>
              <a href="#" class="arrow" {{action nextMonth}}>&#10095;</a>
            </div>
            <div class="dow">
              <div class="day">
                Su
              </div>
              <div class="day">
                Mo
              </div>
              <div class="day">
                Tu
              </div>
              <div class="day">
                We
              </div>
              <div class="day">
                Th
              </div>
              <div class="day">
                Fr
              </div>
              <div class="day">
                Sa
              </div>
            </div>
            <div class="values">
              {{#each eventDays as |day index|}}
              {{#if (and day.isBeforeToday (not day.isToday))}}
                <div class="value {{if day.isOutsideMonth 'outside'}} {{if day.isBeforeToday 'before'}}">
                  {{moment-format day.date 'D'}}
                </div>
              {{else}}
                <div class="value {{if day.isOutsideMonth 'outside'}} {{if day.isToday 'today'}} {{if day.isActive 'active'}}"   {{action selectDay day}}>
                  {{moment-format day.date 'D'}}
                </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}
