<div class="section-details">
    <div class="section-title">Settings</div>
</div>
<div class="section-main">
    <div class="switch-row" ng-if="event._id">
        <div class="switch-details">
            <div class="title">
                Poll Status
            </div>
            <div class="description">
                Let people vote on the poll.
            </div>
        </div>
        <div class="switch">
            <div class="switch-value">
                {{if isClosed 'Open' 'Closed'}}
            </div>
            {{x-toggle theme='ios' size='small' toggle='setEventStatus' value=isClosed
                onLabel='Open' offLabel='closed' name='eventStatus'}}
        </div>
    </div>
    <div class="switch-row">
        <div class="switch-details">
            <div class="title">
                Notifications
            </div>
            <div class="description">
                Send me an email when someone votes or comments on the event.
            </div>
        </div>
        <div class="switch">
            <div class="switch-value">
              {{if isNotified 'On' 'Off'}}
            </div>
            {{x-toggle theme='ios' size='small' toggle='setEventStatus' value=isNotified
                onLabel='On' offLabel='Off' name='eventNotifications'}}
        </div>
    </div>
    <div class="switch-row" ng-if="event._id">
        <div class="switch-details">
            <div class="title">
                Delete Event
            </div>
            <div class="description">
                Once you delete an event it will no longer be accessible.
            </div>
        </div>
        <div class="switch">
            <button type="button" {{action 'setEventStatus' 'eventDelete'}} class="btn {{if isDeleted 'disabled' 'danger'}}">
              {{if isDeleted 'Request Sent' 'Delete Event'}}
            </button>
        </div>
    </div>
</div>
{{yield}}
