<div class="section-details">
    <div class="section-title">Choose Times</div>
</div>
<div class="section-main">
    <table class="time-form">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Time 1
                </th>
                <th>
                    Time 2
                </th>
                <th>
                    Time 3
                </th>
            </tr>
        </thead>
        <tbody>
          <tr>
          {{#each event as |date index|}}
            <td>
              <div class="daticon">
                  <div class="dow">
                    {{moment-format date 'ddd'}}
                  </div>
                  <div class="day">
                    {{moment-format date 'D'}}
                  </div>
                  <div class="month">
                    {{moment-format date 'MM'}}
                  </div>
                  <span class="delete" {{action unsetDate date}}></span>
              </div>
            </td>
          {{/each}}
          <td ng-repeat="time in [1,2,3] track by $index">
              <input type="text" time-picker ng-model-options="{ updateOn: 'blur' }" ng-model="d.times[$index]" class="time-picker-input" />
          </td>
          </tr>
        </tbody>
    </table>
</div>
{{yield}}
