<div class="box">
    <div class="box-title">{{eventTitle}}</div>
    <div class="box-description">{{eventDescription}}</div>
    <form autocomplete="off" name="newEventForm">
        <section class="box-section user-form">
          {{user-form model=events}}
        </section>

        <section class="box-section event-form">
          {{event-form model=events}}
        </section>

        <section class="box-section date-form">
          {{date-picker model=events new=true}}
        </section>

        <section class="box-section participants-form">
          {{participants-form  model=events}}
        </section>

        <section class="box-section settings-form">
          {{settings-form  model=events new=true}}
        </section>

        <div class="box-controls box-bottom-sticky">
            <button type="button" class="btn" disabled="{{v-get model 'isInvalid'}}" {{action 'submit' this}}>Create Event</button>
        </div>
    </form>

</div>
