<div class="box">
    <div class="box-title">{{eventTitle}}</div>
    <div class="box-description">{{eventDescription}}</div>
    <form autocomplete="off" name="newEventForm" {{action 'submit' this}}>
        <section class="box-section user-form">
          {{user-form model=model.creator}}
        </section>

        <section class="box-section event-form">
          {{event-form model=model}}
        </section>

        <section class="box-section date-form">
          {{date-picker model=model.dates new=true}}
        </section>

        <section class="box-section participants-form">
          {{participants-form  model=model.participants}}
        </section>

        <section class="box-section settings-form">
          {{settings-form  model=model}}
        </section>

        <div class="box-controls box-bottom-sticky">
            <button type="submit" class="btn" disabled={{v-get model 'isInvalid'}}>Create Event</button>
        </div>
    </form>

</div>
